@model MyPos.Web.ViewModels.OrderStartViewModel

<h2>New Order</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CustomerID)

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.OrderDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<hr />
<table id="RecentOrders" class="table ">
    <thead>
        <tr>
            <th style="width:20%">Product</th>
            <th style="width:30%">Product Description</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var i in Model.RecentOrders)
        {
        <tr>
            <td data-th="Product">@i.Customer.Name</td>
            <td data-th="Description">@i.OrderDate</td>
            <td data-th="Price">@i.ShippingAddress</td>
            <td data-th="Quantity">@i.Customer.Name</td>
            <td>
                @Html.ActionLink("Edit", "OrderEdit", new { id = i.ID}) |
                @Html.ActionLink("Details", "OrderDetails", new { id = i.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = i.ID })
            </td>
            @*<td data-th="Subtotal" class="text-center">@(i.Product.CurrentPrice * i.Quantity)</td>*@

        </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

}
