@model MyPos.Web.ViewModels.OrderEditViewModel

@{
    /**/

    ViewBag.Title = "OrderEdit";
}

<h2>OrderEdit</h2>
<input type="hidden" id="isOrderEdited" value="false" />
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-md" role="document">
        <div class="modal-content">
            <div id="errorMessages" class="alert-danger"></div>
            <table id="ProductSelect" class="table orderLine1 ">
                <thead>
                    <tr>
                        <th style="width:20%">Product</th>
                        <th style="width:30%">Product Description</th>
                        <th style="width:10%">Price</th>
                        <th style="width:8%">Quantity</th>
                        <th style="width:22%" class="text-center">Subtotal</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-th="Product"><input type="text" id="ProductName" class="form-control text-center " value="" /></td>
                        <td data-th="Description"><input type="text" id="ProductDescription" class="form-control text-center " value="" readonly /></td>
                        <td data-th="Price"><input type="number" id="ProductPrice" class="form-control text-center " value="" readonly /></td>
                        <td data-th="Quantity">
                            <input type="number" id="ProductQuantity" class="form-control text-center ">
                        </td>
                        <td data-th="Subtotal" class="text-center">
                            <input type="text" id="ProductSubTotal" class="form-control text-center  " value="" readonly>
                        </td>
                        <td class="actions" data-th="">

                            <input type="hidden" id="ProductId" value="" />
                            <input type="hidden" id="ProductAvailableStock" value="" />
                            <input type="hidden" id="OrderItemId" value="" />
                        </td>
                    </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="EditOrderItemClose">Close</button>
                <button type="button" class="btn btn-primary" id="EditOrderItem">Save</button>
            </div>
        </div>
    </div>
</div>
<div>
    <input type="hidden" id="OderDateID" value="@Model.OrderDate" />
    <input type="hidden" id="CustomerId" value="@Model.OrderCustomer.CustomerId" />
    <input type="hidden" id="OrderId" value="@Model.OrderId" />
</div>
<div id="orderEditItem">
    @Html.Partial("_OrderItemList", Model)

</div>



<div>
    <button type="button" class="btn btn-primary" id="UpdateEditedItem"> Update Order</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
