@model MyPos.Web.ViewModels.OrderDetailsViewModel

@{
    ViewBag.Title = "OrderDetails";
}

<h2>OrderDetails</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderCustomer.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderCustomer.CustomerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderShippingAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderShippingAddress)
        </dd>

    </dl>
</div>
@*//table start*@
<table id="OrderDetailsView" class="table ">
    <thead>
        <tr>
            <th style="width:20%">Product</th>
            <th style="width:30%">Product Description</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var i in Model.OrderItems)
        {
            <tr>
                <td data-th="Product">@i.Product.ProductName</td>
                <td data-th="Description">@i.Product.ProductDescription</td>
                <td data-th="Price">@i.Product.ProductCurrentPrice</td>
                <td data-th="Quantity">@i.OrderItemQuantity</td>
                <td data-th="Subtotal" class="text-center">@(i.Product.ProductCurrentPrice * i.OrderItemQuantity)</td>

            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td data-th="Product"></td>
            <td data-th="Description"></td>
            <td data-th="Price"></td>
            <td data-th="Quantity">Grand Total</td>
            <td data-th="Subtotal" class="text-center">@Model.OrderTotal</td>
        </tr>
    
    </tfoot>
</table>

